.sidebar.pure-u-1.pure-u-md-1-4
  .header
    = image_tag "1.jpg",:height=>"100",:width=>"100",:class=>"post-avatar"
    %h1.brand-title Vikas Blog
    %h2.brand-tagline Expressing The Feeling By writing
    %nav.nav
      %ul.nav.nav-pills.nav-stacked
        %li.nav-item
          = link_to "Home",root_path,:class=>"pure-button",:style=>"text-decoration:none;"
        
        %li.nav-item
          = link_to "portfolio",portfolios_index_path,:class=>"pure-button",:style=>"text-decoration:none;"
        %li.nav-item
          = link_to "About me",others_contact_path,:class=>"pure-button",:style=>"text-decoration:none;"
        %li.nav-item
          = link_to "Contact me",others_about_path,:class=>"pure-button",:style=>"text-decoration:none;"
    