!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title vikasBlog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://unpkg.com/purecss@0.6.2/build/pure-min.css", :integrity => "sha384-", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css", :rel => "stylesheet"}/


  %body
    %div#layout.pure-g
      = render "shared/header"
      = yield
      